.git
.gitignore
.gitattributes
.env
.env.example
.editorconfig
.php_cs
.php_cs.cache
.phpunit.result.cache

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
*.md
README.md
CHANGELOG.md

docker-compose.yml
docker-compose.override.yml

.vscode
.idea
*.swp
*.swo
*~

npm-debug.log
yarn-error.log